LDAPBINDUSER='cn=nextcloud-binduser,OU=Management,OU=default-school,OU=SCHOOLS,DC=schule,DC=lan'
LDAPBINDPW='geheim'
LDAPBASEDN='OU=SCHOOLS,DC=schule,DC=lan'
LDAPUSERBASE='OU=default-school,OU=SCHOOLS,DC=schule,DC=lan'
LDAPGROUPBASE='OU=default-school,OU=SCHOOLS,DC=schule,DC=lan'
LDAPHOST='10.0.0.1'
