LDAPBINDUSER='cn=nextcloud-binduser,OU=Management,OU=default-school,OU=SCHOOLS,DC=schule,DC=lan'
LDAPBINDPW='geheim'
LDAPBASEDN='OU=SCHOOLS,DC=schule,DC=lan'
LDAPUSERBASE='OU=default-school,OU=SCHOOLS,DC=schule,DC=lan'
LDAPGROUPBASE='OU=default-school,OU=SCHOOLS,DC=schule,DC=lan'
LDAPGROUPFILTER='(&(|(objectclass=group))(|(sophomorixType=teacherclass)(sophomorixType=project)(sophomorixType=adminclass)(sophomorixType=ouclass)(sophomorixType=school)(sophomorixType=rolegroup)(sophomorixType=allclass)))'
LDAPHOST='10.0.0.1'
