[Unit]
Description=Netzint Nextcloud Cluster
Requires=docker.service
After=docker.service

[Service]
#Restart=always
#TimeoutStartSec=1200
#
Type=oneshot
WorkingDirectory=/srv/docker/nextcloud_docker_cluster/
ExecStart=/srv/docker/nextcloud_docker_cluster/daemonHandler.sh start
ExecStop=/srv/docker/nextcloud_docker_cluster/daemonHandler.sh stop
#RestartSec=20
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
