[Unit]
Description=Netzint Nextcloud Cluster
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/srv/docker/nextcloud_docker_cluster/
ExecStart=/srv/docker/nextcloud_docker_cluster/daemonHandler.sh start
ExecStop=/srv/docker/nextcloud_docker_cluster/daemonHandler.sh stop
RemainAfterExit=yes
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
